/* styles/Projects.module.css */

.container {
  min-height: calc(100vh - 100px);
  height: 100%;
}

.darkMode {
  background-color: #000;
  color: #fff;
}

.darkCard {
  background-color: #fff;
  color: #000;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center content horizontally */
  justify-content: space-between; /* Space evenly vertically */
}

.cardLinks {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.card a {
  color: blue;
  text-decoration: underline;
  white-space: nowrap; /* Prevent line breaks */
}

/* Optional: Add media query for smaller screens to stack links vertically */
@media (max-width: 720px) {
  .card-links {
    flex-direction: column;
    align-items: center;
  }
}
